# Ignorar archivos y carpetas innecesarias
node_modules
*.log
*.env
.DS_Store
.git
.gitignore
.vscode
.idea
*.swp
# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django specific
db.sqlite3
/media/
/staticfiles/

# Environment files
.env.*
.env

# Docker specific
docker-compose.override.yml